@{
  Layout = "_Layout";
}

<h1>Welcome to the Pierres Awesome App!</h1>



@if (User.Identity.IsAuthenticated)
{

}
else
{
}

<button type="button" class="btn btn-warning"> @Html.ActionLink("Account", "Index", "Account")</button>
<button type="button" class="btn btn-secondary">@Html.ActionLink("Register", "Register", "Account")</button>

<button type="button" class="btn btn-secondary">@Html.ActionLink("Log in", "Login", "Account")</button>
<button type="button" class="btn btn-success">@Html.ActionLink("Home", "Index", "Home")</button>
<button type="button" class="btn btn-danger">@Html.ActionLink("Flavors", "Index", "Flavors")</button>
<button type="button" class="btn btn-warning">@Html.ActionLink("Treats", "Index", "Treats")</button>
