@{
  Layout = "_Layout";
}
@model Library.Models.Book
<h2>Book Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>
<p>@Html.DisplayNameFor(model => model.Synopsis): @Html.DisplayFor(model => model.Synopsis)</p>
@if (@Model.JoinEntities.Count == 0)
{
  <p>This book does not have any authors listed</p>
  <p>@Html.ActionLink("Add an author to this book", "AddAuthor", new { id = Model.BookId })</p>
}
else
{
  <h4>Book authors:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Author.Name
        | @using (Html.BeginForm("DeleteAuthor", "Books"))
        {
          @Html.Hidden("joinId", @join.AuthorBookId)
          <input type="submit" value="Delete" />
        }
      </li>
    }
  </ul>
  <p>@Html.ActionLink("Add another author to this book", "AddAuthor", new { id = Model.BookId })</p>
}
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Delete BOOK", "Delete", new { id = Model.BookId })</p>