@{
  Layout = "_Layout";
}

@model GoodTreats.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

    @if (@Model.JoinEntities.Count == 0)
    {
      <p>Looks like the Treat does not have any Flavors yet!</p>
      <p>@Html.ActionLink("Add a Flavor to this treatr", "AddFlavor", new { id = Model.TreatId })</p>
    }
    else
    {
      <h4>Flavors for different treats:</h4>
      <ul>
        @foreach (var join in Model.JoinEntities)
        {
          <li>@join.Flavor.Name
            | @using (Html.BeginForm("DeleteFlavor", "Treats"))
            {
              @Html.Hidden("joinId", @join.TreatFlavorId)
              <input type="submit" value="Delete" />
            }
          </li>
        }
      </ul>
    }


    @* <p>@Html.ActionLink("Edit Author", "Edit", new { id = Model.TreatId })</p>
    <p>@Html.ActionLink("Delete Author", "Delete", new { id = Model.TreatId })</p>
    <p>@Html.ActionLink("Back to list", "Index")</p> *@


    <button type="button" class="btn btn-primary">@Html.ActionLink("Show all treats", "Index")</button>
<button type="button" class="btn btn-success">@Html.ActionLink("Home", "Index", "Home")</button>
<button type="button" class="btn btn-danger">@Html.ActionLink("All Flavors", "Index")</button>
<button type="button" class="btn btn-warning">@Html.ActionLink("Show all treats", "Index", "Treats")</button>

