@{
  Layout = "_Layout";
}

@model GoodTreats.Models.Treat

<h2>Edit</h2>

<h4>Edit this Treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>

<button type="button" class="btn btn-primary">@Html.ActionLink("Show all treats", "Index")</button>
<button type="button" class="btn btn-success">@Html.ActionLink("Home", "Index", "Home")</button>
<button type="button" class="btn btn-danger">@Html.ActionLink("All Flavors", "Index")</button>
<button type="button" class="btn btn-warning">@Html.ActionLink("Show all treats", "Index", "Treats")</button>

