@{
  Layout = "_Layout";
}
@using GoodTreats.Models;

<h1>Treats</h1>

@if (@Model.Count == 0)
{
  <h3>No treats have been added yet</h3>
}
else
{
  <p>Search for an treat by name:</p>
  <form asp-controller="Treats" asp-action="Index">

</form>
  <ul>
  @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId})</li>
    }
  </ul>
}

<button>@Html.ActionLink("Add new treat", "Create")</button>
@* <p>@Html.ActionLink("Home", "Index", "Home")</p> *@
@* <button type="button" class="btn btn-primary">@Html.ActionLink("Show all treats", "Index")</button> *@
<button type="button" class="btn btn-success">@Html.ActionLink("Home", "Index", "Home")</button>
<button type="button" class="btn btn-danger">@Html.ActionLink("All Flavors", "Index")</button>
<button type="button" class="btn btn-warning">@Html.ActionLink("All treats", "Index", "Treats")</button>

